---
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Certification">
  <section class="relative z-20 max-w-5xl mx-auto my-12 px-7 lg:px-0 main-title">
    <PageHeading
      title="ReactJs"
      description="This certification equips you with comprehensive skills in building scalable and responsive web applications using Reactjs. The course covers foundational concepts,advanced techniques, and best practices that will help you become proficient in developing modern web applications."
    />

    <div
      class="my-8"
    >

    <ul class="mb-6 text-base text-neutral-600 dark:text-neutral-400">

      <li><b>Configuring a React Development Setup:</b> Setting up the tools and environment required
          for React development.</li>

      <li><b>Introduction to React Components:</b> Learning the building blocks of a React application
        components.</li>

        <li><b>Class Components vs. Functional Components:</b> Understanding the distinction between
        Reacts class-based components and function-based components.</li>

        <li><b>React Component Lifecycle:</b> Gaining insight into the lifecycle methods and stages of a
        React component.</li>

        <li><b>Form Validation and Input Management:</b> Handling user inputs and validating form data in
        React applications.</li>

        <li><b>Core Redux Concepts:</b> Understanding the fundamental principles and workflow of state
        management using Redux.</li>

        <li><b>Integrating APIs with React:</b> Connecting external data sources and APIs to your React
        application.</li>

    </ul>
     
    </div>
  </section>
</Layout>
