---
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Certification">
  <section class="relative z-20 max-w-5xl mx-auto my-12 px-7 lg:px-0 main-title">
    <PageHeading
      title=" React.js"
      description="This certification equips you with comprehensive skills in building scalable and responsive web
 applications using React.js. The course covers foundational concepts, advanced techniques, and
 best practices that will help you become proficient in developing modern web applications.
I have worked on various web development projects, focusing on building scalable and efficient websites. My projects emphasize mobile responsiveness, SEO optimization, and seamless user interaction, including inquiry form integration."
    />

    <div
      class="z-50 grid items-stretch w-full grid-cols-1 my-8 gap-7 sm:gap-5 sm:grid-cols-2 md:grid-cols-3"
    >
    <h2>Topics Covered:</h2>

    <ul>

        <li>Configuring a React Development Setup: Setting up the tools and environment required
            for React development.</li>

           <li> Introduction to React Components: Learning the building blocks of a React application
            components.</li>

            <li>Class Components vs. Functional Components: Understanding the distinction between
            Reacts class-based components and function-based components.</li>

            <li>React Component Lifecycle: Gaining insight into the lifecycle methods and stages of a
            React component.</li>

            <li>Form Validation and Input Management: Handling user inputs and validating form data in
            React applications.</li>

            <li>Core Redux Concepts: Understanding the fundamental principles and workflow of state
            management using Redux.</li>

            <li>Integrating APIs with React: Connecting external data sources and APIs to your React
            application.</li>
            
    </ul>
     
    </div>
  </section>
</Layout>
